# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

dark/*
another_app/*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
evm/broadcast/DeploySparkFarmManager.s.sol/1/run-latest.json
evm/broadcast/DeploySparkFarmManager.s.sol/1/run-1754098874.json
